
@model Movie
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-2">
        <h3>En cartelera</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.InTheatre, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Aptas para niños</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Kids, sortOption = Sort.ReleaseDateAsc, adultOption = IncludeAdult.No })
    </div>
    <div class="col-lg-2">
        <h3>Populares en España</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Spain, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Acción</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 28, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Animación</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 16, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Comedia</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 35, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">
        <h3>Documental</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 99, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Drama</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 18, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Fantasia</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 14, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Terror</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 27, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Música</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 10402, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
    <div class="col-lg-2">
        <h3>Ciencia-ficción</h3>
        @await Component.InvokeAsync("DiscoverMovies", new { method = DiscoverMethod.Genre, genre = 878, sortOption = Sort.PopularityDesc, adultOption = IncludeAdult.Yes })
    </div>
</div>