@model List<DiscoverMovie>
<div class="row">
        <div class="col-lg-12 col-md-12">
            <div style="display: inline">
                @foreach (DiscoverMovie movie in Model)
                {
                    <div>
                        @movie.Title
                    </div>
                }
            </div>
        </div>
    </div>