@model List<DiscoverMovie>
@{ 
    int carousel = 0;
}
@section styles { 
    <style type="text/css">
        img {            
            height: 100px !important;            
        }
    </style>
}
<div class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">

        @foreach (DiscoverMovie movie in Model)
        {
            if (movie.PosterPath != null)
            {
                if (carousel == 0)
                {
                    <div class="carousel-item active">
                        <a href="@Url.Action("Movie", "Home", new { id=movie.ID })">
                            <img src="@String.Concat(DiscoverMovie.ImagesPath, movie.PosterPath)" alt="Los Angeles">
                        </a>                
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="@Url.Action("Movie", "Home", new { id=movie.ID })">
                            <img src="@String.Concat(DiscoverMovie.ImagesPath, movie.PosterPath)" alt="Los Angeles">
                        </a>
                    </div>
                }
                carousel++;
            }
        }

    </div>    
</div>