@model List<Movie>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div style="display: inline">
            @foreach (Movie movie in Model)
            {
                <div>
                    @movie.Title
                </div>
            }            
        </div>  
    </div>
</div>
