
@{
    ViewData["Title"] = "Login";   
}
@section styles {
    <style type="text/css">
        .login {
            display: inline;
            position: absolute;
            top: 50%;
            right: 50% !important;
            transform: translate(50%, -50%);
        }
    </style>
}
    <div class="login">
        <h1 class="text-center">Cinema Paradiso</h1>
        <img class="w-100" src="~/images/icons/popcorn256px.png" />
        <hr />
        @*<div class="col-lg-2">*@
        @using (Html.BeginForm("Login", "Validation", FormMethod.Post, new { @class = "mx-auto" }))
        {
            <h3 class="text-center">Correo electrónico</h3>
            <input class="form-control" type="email" name="user" value="" placeholder="Email..." required />

            <h3 class="text-center mt-2">Password</h3>
            <input class="form-control" type="password" name="password" value="" placeholder="Contraseña" required />

            <button class="btn btn-danger form-control mt-4" type="submit">Iniciar sesión</button>
            <h4 class="text-center mt-4">¿Aun no tienes cuenta?</h4>
            @using (Html.BeginForm("Register", "Validation", FormMethod.Get, new { @class = "mx-auto" }))
            {
                <div>
                    <button class="btn btn-danger form-control" type="submit">Registrate</button>
                </div>
            }
        }
        @*</div>*@
    </div>         

