<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Paradiso</title>

    <environment include="Development">
        <link rel="shortcut icon" type="image/png" href="~/images/icons/popcorn16px.png" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>    
    @RenderSection("styles", required: false)
</head>
<body class="container-fluid bg-dark">    
    <nav id="topNav" class="navbar navbar-expand-md navbar-dark fixed-top">
        <img src="~/images/icons/popcorn32px.png" />
        <a class="navbar-brand my-2 ml-2" asp-action="Index" asp-controller="Home">Cinema paradiso</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" href="#">Link</a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link disabled" href="#">Disabled</a>*@
                </li>
            </ul>            
            <form class="form-inline mt-2 mt-md-0" asp-action="Search" asp-controller="Home" method="GET">
                <div class="input-group">
                    <input class="form-control" name="searchString" type="text" placeholder="Busqueda..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-danger dropdown-toggle ml-1 mt-auto" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="UserList" asp-controller="Home">Mi lista</a>
                        <a class="dropdown-item" href="#">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Validation">Cerrar sesión</a>
                    </div>
                </div>
            }
            else
            {
                <a asp-action="Login" asp-controller="Validation">
                    <button class="btn btn-outline-danger nav-item ml-1">Inicia sesión</button>
                </a>
            }
        </div>
    </nav>    
    <main role="main" class="text-white">
        @RenderBody()
    </main><!-- /.container -->
    @*<footer class="footer fixed-bottom bg-dark footer-dark">
            <div class="container-fluid text-white">
                <div class="row">
                    <div class="col-lg 12">
                        <p><div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>
                    </div>
                </div>
            </div>
        </footer>*@
    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
